body {
	background-color: #b6cfed;
	color: #000000;
	font-weight: bold;
}
a {
	color: #222222;
	background-color: #d9f9d9;
	text-decoration: underline;
}

a:hover {
	color: #000000;
	background-color: #bddadb;
}
td {
	background-color: #d9f9d9;
}
table {
	background-color: #5761A0;
}
th {
	background-color: #dedad5;
}

.state_active {
	background-color: green;
}

.state_inactive {
	background-color: red;
}
